#wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-height: 70vh;
}

.header {
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

.footer {
    background-color: aquamarine;
    margin-top: auto;
    position: fixed;
    top: 90vh;
    left: 0;
    height: 100px;
    width: 100%;
}


.main_link{
    color: black;
    text-decoration-line: none; 
}

.container {
    font-family: "Nanum Gothic";
    width: 100%;
    outline: 1px black;
    text-align: center;
    justify-content: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}